{
  "extends": [
    ".eslintrc-base"
  ],
  "rules":{
  },
  "globals": {
    "__DEV__": true,
    "__INTEGRATION_TEST__": true,
    "requestAnimationFrame": true,
    "requestIdleCallback": true,
    "before": true,
    "after": true,
    "device": true,
    "element": true,
    "Promise": true,
    "by": true
  }
}
